/* Last modified by Kevin Cole <ubuntourist@hacdc.org> 2022.02.05 (kjc) */

body { line-height: 1.6em; font-size: 1rem; 
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }

p, ul, ol, dl { font-size: 1rem; }

h4,h5,h6 {color: #2e2e2e;}

#toc ul, .toc ul { font-size: 16px; }

#toc { margin: 1em 0; }

@media only screen and (min-width: 40.0625em) {
body { line-height: 1.6em; font-size: 1rem; }
#toc ul, .toc ul { font-size:  13.3px; }
}

p, table { border: none; margin-bottom: 1em; max-width: 100%; }

/* make sure user tweaks to pre don't cause problems with orbit captions */
.orbit-caption pre {
    padding: 0;
    background: inherit;
    border: none;
}

a.label:hover,
a.label:focus {
  color: white;
}

a.label.new { background-color: #d0d0d0; }

a.button.dropdown { float:right;}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:hover {
	color: #0b0080;
	text-decoration: underline;
}


/* ULS Override to force no display of background image */
.uls-trigger {
    background-image: none !important;
}
#pt-uls a.uls-trigger {
    padding-left: .66667em !important;
}

/* Force FontAwesome to load in the top-nav, Foundation is overriding it with Helvetica. Ban Helvetica */
.fa { font-family: 'FontAwesome' !important;  }

/* Hide the page actions button for special pages (cuz there's nothing in it) */
.mw-special-FormEdit a.button.dropdown, .ns-special a.button.dropdown { display:none; }
.ns-special #p-cactions a#drop { display: none; }

/* Hide some rows on form-edit (e.g. a thing's title) */
body.action-formedit .row.hide-on-form-edit { display: none;}

/* Move the MediaWiki notification area so it isn't on top of the Action menu */
.mw-notification-area {
  margin-top: 2em;
}
/* MediaWiki Search Results */
.mw-search-results {
	max-width: 100%;
}
/* Also adjust z-index of action menu to force it on top */
#p-cactions #drop1 {
    z-index: 1000;
    white-space: nowrap;
}
#p-cactions #drop1 a {
    width: 100%;
    text-align: left;
    font-size: 14px;
}
#p-cactions #drop1 a:hover {
    background-color: #eee;
    color: darkslateblue;
}
#p-cactions > a.button {
float:right; }

/* Fix scaling issue for menu icon */
@media only screen and (min-width: 40.0625em) {
    #drop .fa.fa-navicon.fa-lg {
    font-size: 1.25em;
}

span#page-actions {
    font-size: 0.85em;
    font-family: sans-serif;
    vertical-align: middle;
    padding:0 0 0 10px;
}
}

/* Make sure top bar is even more z-indx! */
#toolbox-dropdown {
  z-index: 10000000;
}
#personal-tools-dropdown {
  z-index: 10000000;
}

/* off-canvas */
section.middle.tab-bar-section a:hover {
color: #eee;
}
section.middle.tab-bar-section a {
color: #fff;
}
ul.off-canvas-list form#searchform-offcanvas {
margin: 1em;
}
a.feedlink {
background: none;
}
ul.off-canvas-list li label {
font-size: .9em;
}
/* off-canvas end */

/* Dropdown Icon Alignment */
#drop-icon {
  display: inline;
  margin-right: 4px;
}

td.mw-submit a,
.htmlform-tip,
#mw-upload-permitted p {
  font-size: 14px;
}

alert.label a {color: pink;}

code {
  font-weight: normal;
  color: #222222;
}

small {
  font-size: 80%;
}

h4.namespace.label {
  font-size: small;
  display:inline-block;
}

.label {
  padding-bottom: 0.39em;
}

h2 span {
  display: inline;
}

h3#tagline {
  font-style: italic;
  font-size: small;
  margin-bottom: 0.5em;
  color: #6f6f6f;
}

.clear_both {
  clear:both;
}

.large-2 strong, .large-2 b {
  display: block;
}

.large-2 strong, .large-2 b, table th {
  font-size: 0.875em;
  color: #4d4d4d;
  font-weight: 500;
}

/* LAYOUT */

.row .row {
  margin-bottom: 0.9em;
}

div.small-10 .row {
  margin: 1em 0 0 0;
}

div.small-9.columns textarea {
  margin-bottom: 0.25em;
}

div {
  line-height: 1.60em;
}

/* NOTICES, ALERTS, WARNINGS */
div#userloginprompt, p#userloginlink {
  font-size: 80%;

}

/* LISTS */

ul#drop1.f-dropdown {
  margin-left:0;
  margin-top:.5em;
  margin-bottom:.25em;
  padding:.25em;
}
.f-dropdown li a {
    display: block;
    padding: 0.5em;
    color: #222;
    border-bottom: 1px solid #eee;
}
.mw-content-ltr ol, .mw-content-rtl .mw-content-ltr ol {
    margin: .5em 0 1em 2em;
}
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: .5em 0 1em 2em;
}
.mw-content-ltr ul li > ul,
.mw-content-rtl .mw-content-ltr ul li > ul  {
    margin-bottom: .5em;
    margin-left: 1em;
}
.mw-content-ltr ol li > ol,
.mw-content-rtl .mw-content-ltr ol li > ol  {
    margin-bottom: .5em;    
    margin-left: 1em;
}
ul.accordion {
	margin: 0;
}
.columns ul.special li {
  float:none;
  width: 100%;
}

.columns div#uploadtext ul {
  list-style-type: disc;
}

.columns div#uploadtext ul li {
 float: none;
 width: 95%;
 margin-left: 2em;
}

#catlinks {
    text-align: left;
    border: 1px solid #ddd;
    padding: .5em;
    margin: 1em 0;
	font-size: 95%;
}

#catlinks a.label {
    font-size: 1em;
}

.catlinks li {border-left:none;}

.mw-specialpages-table td ul.columns li {width: 50%;}

.columns #mw-normal-catlinks ul li {
  float: none;
  width: auto;
}

#mw-normal-catlinks a.new {
  color: white;
}

ul.vcard { padding: 0.5em 0.5em 0.55em 0.5em; }

/*#mw-content-text .columns li {float:none;width:90%;}*/

/* Footer Classes */

footer.row ul.columns li { display: inline;float:none;}

footer.row ul {
  list-style-type: none;
  margin: .5em 0em;
}

footer.row ul.views.columns li {
  margin-right: 1em;
}

footer.row {
    border-top: 1px solid #c3c3e5;
    padding-bottom: 2em;
    color: #333;
    max-width: 100%;
    background-color: #fff;
}
@media only screen and (min-width: 1025px) { footer.row { padding-bottom: .5em } }

ul#footer-left {
    text-align: left;
    font-size: 12px;
}
ul#footer-right {
    text-align: right;
    font-size: 12px;
}
li#footer-privacy {
    float: left;
    margin-right: 2em;
}
li#footer-about {
    float: left;
    margin-right: 2em;
}
ul#footer-right li {
    float: right;
    margin: 0 0 .5em .5em;
}

/* FollowUs AddThis Tweaks */
li.social-follow {
    width: 100%;
}
footer .addthis_horizontal_follow_toolbox,
footer .addthis_toolbox {
    float: right;
    margin-bottom: .5em;
}
.social-links p {
    margin:0 .2em 0 0;
    font-weight: bold;
}

/* Fix Tables on narrow pages for Special Pages and Category Pages */
@media screen and (max-width:782px) {
    .ns-14 #mw-subcategories table td,
    .ns-14 #mw-pages table td,
    .ns--1 table.mw-specialpages-table td {
    display: inline;
}
	.ns-14 table,
	.ns--1 table {
    overflow:hidden;
}
.ns-14 table ul,
.ns--1 table ul {
    margin: 0 0 0 2em;
}
}

/* TABS */

#mw-content-text ul.tabs {
  margin: 0
}

#mw-content-text ul.tabs.vertical {
  margin: 0
}

/* HEADERS */

h1,h2,h3,h4,h5,h6 {
  margin-top: 0em;
  line-height: 1em;
}

.page-Special_SpecialPages h2 {
  margin-bottom: 0.5em;
}


.editsection {
  font-weight: normal;
  font-size: 0.4em;
}

p.title {
  padding: 0.9375em;
}

/* TABLES */

.mw-content-ltr table#toc {
  float:right;
  width: auto;
}

.mw-content-rtl table#toc {
  float:left;
  width: auto;
}

table.formtable {
  border: none;
}

table td[align="right"] {text-align: right;}

/* TURN OFF TABLE STRIPING FOR EDITFORMS */
table.formedit tr.even,
table.formedit tr.alt,
table.formedit tr:nth-of-type(even) {
  background: transparent;
}


table {
  width: auto;
  max-width: 100%;
}

td.mw-label {
  width: 20%;
}

td.mw-input {
  width: 80%;
}

thead tr th {
  cursor: pointer;
}

table.formtable th {
  text-align: right !important;
}

td.smwpropname, th.smwpropname, td.smwspecname {
  text-align:left;
}


table tbody tr td, table tr td {
  line-height: 1.6em;
}

table.wikitable {
  margin: 0em 0 1em 0;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
  text-align: left;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
  border: 2px #fff solid;
  padding: 0.6em;
}

/* FORMS, INPUTS, FIELDSETS */

.multipleTemplateInstance {
  background-color: white !important;
  border: none !important;
  border-bottom: 1px dashed #999999 !important;
}

.multipleTemplateInstance table {
  border: none !important;
}

.multipleTemplateAdder {
  font-size: 0.9em;
  padding: 0.4125em 0.5em 0.55em 0.5em;
}

 .novalue {
  color: #999999;
  font-style:italic;
  font-size:small;
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  padding: 5px;
}

input[type="file"],
select {
  padding: 5px;
  border: 1px solid #cccccc;
}

.inputSpan select.createboxInput,
.dateInput select.monthInput,
input.hourInput,
input.minuteInput,
input.secondInput,
input.dayInput,
input.yearInput,
input[name="*[* date][hour]"],
input[name="*[* date][minute]"],
input[name="*[* date][second]"] {
  width: auto;
  margin-right: 1em;
}

/*
.inputSpan input.createboxInput {
  width: 100%;
}
*/
.inputSpan button,
.inputSpan .button {
  margin: -4px 0 0 0;
  padding:0.37em 0.75em 0.6em 0.70em;
}

.ms-selectable input[type="text"] {
  width: 100%;
}

nav.top-bar .button { margin-top: 0; font-size: 0.75rem;}
nav.top-bar #searchInput { height: auto; padding:0.35rem 0.444rem; margin:0px; font-size: 0.75rem;}

button.ui-button-icon-only {
  height: 2.24em !important;
}

select {width:auto;}

input[type="checkbox"].createboxInput {
  width: auto;
}

label.checkboxLabel {
  margin-right: 0.5em;
}

.edit_with_form {
  margin: -2em 0 0 0;
  float:right;
}

input[type="radio"],
input[type="checkbox"] {
  display:inline;
}

input[type='file'] {
  margin-top: 0.4em;
}

input:not([type]),
textarea,
p.meta {
  margin-bottom: 4px;
}

label {
  display: inline;
  font-weight: normal;
}

.mw-input label { font-weight: normal; }

#mw-content-text ul.SFI_timepicker_hours,
#mw-content-text ul.SFI_timepicker_minutes {
  list-style-type: none;
}

#mw-content-text ul.SFI_timepicker_hours li {
  margin: 2px 2px;
  padding: 4px;
}

.sminput.sminput-googlemaps3 p button {
  padding-top: 0.35em;
  padding-bottom: 0.6em;
}

li label.inline {
  margin-bottom: 2px;
  padding: 0;
}

button, .button {
  margin: 0.5em 0;
  padding: 0.3em 0.75em 0.4em 0.75em;
}

.top-bar .button.search {
  top: 1px;
  text-align: left;
}

.top-bar-section .dropdown {
  z-index: 100;
}

input[type="search"] {
    margin: 0;
}
input[type="date"] {
    margin: .5rem 0;
}
input[type="date"] {
    width: auto;
}
input[type="file"] {
    margin: .5rem 0;
}
input:not([type]), textarea, p.meta {
    margin: .5rem 0;
}
input[type="text"] {
    margin: .5rem 0;
}
select {
    padding: 5px 20px 5px 5px;
    margin: .5rem 0;
    width: auto;
}

input[type="submit"] {
    background-color: #5da423;
    border-color: #457a1a;
    color: white;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

input#wpPreview {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: black;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.editButtons input[type="submit"] {
  display: inline-block;
}

legend {
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

fieldset {
  line-height: 1.6em;
  padding: 0 1.25em 1em 1.25em;
  margin-top: 0;
}

span.smwbuiltin,
span.smwttactiveinline span.smwbuiltin {
  font-style: normal;
}

/* MW still generates a label column for checkboxes, this minimizes is */
.mw-htmlform-field-HTMLCheckField .mw-label { height:0; }

/* UNTIL I CAN DETERMINE WHY toolboxend GENERATES AN EMPTY <li> IN THE MENU, I'M HIDING IT */
#p-toolboxend { display:none;}


/* Sitenotice */

#siteNotice {
    display: block;
    margin-top: 1.5em;
    margin-bottom: .25em;
}

/* Add improved styling for the Echo extension */

#echo-notifications {
	float: right;
	display: inline-block;
	margin: -1em 1em .5em;
	position: relative;
	z-index: 500;
	max-height: 30px;
}
#echo-notifications-notice,
#echo-notifications-alerts,
#echo-notifications-messages,
#echo-notifications {
	display: inline-block;
} 

#pt-notifications-notice .mw-echo-notifications-badge,
#pt-notifications-alert .mw-echo-notifications-badge,
#pt-notifications-message .mw-echo-notifications-badge {
	background-size: 1.4em !important;
	font-size: 1.1em;
	color: transparent;
	filter: invert(15%);
	height: auto !important;
	display: block !important;
}
#echo-notifications li {
	list-style: none;
}
#echo-notifications-messages {
	float: right;
}
#echo-notifications-alerts {
	float: right;
}
#pt-notifications-alert .mw-echo-unseen-notifications, #pt-notifications-message .mw-echo-unseen-notifications {
	color: #0645ad !important;
}

#echo-notifications li {
    margin: 0 0 0 1em;
}

/* Make Echo extension more mobile friendly on small widths */

@media only screen and (max-width: 450px) {
	.oo-ui-popupWidget-popup {
		width: auto !important;
		position: relative !important;
		margin-left: -260px !important;
		font-size: 75% !important;
	}
	.oo-ui-clippableElement-clippable.oo-ui-popupWidget-body {
		width: 100% !important;
	}
}

/* Aside CSS */
ul.off-canvas-list input#searchInput-offcanvas,
ul.off-canvas-list button.button.search {
height: 2rem;
margin: 0;
}

/* max-width row */
.row {
	max-width: 100%;
}

.tab-bar {
    background: #517398;
}

#p-cactions {
    padding-top: 1.5em;
    padding-bottom: .5em;
    background-color: #f6f6f6;
	border-left: 1px solid #ccc;		
    border-right: 1px solid #ccc;
}

ul.side-nav .button {
    margin: 0;
}
ul.side-nav input[type="search"] {
    height: 1.9rem;
    font-size: 0.9rem;
}
.side-nav li a:not(.button) {
	padding: 0 0 0 .5em;
	color: #0645ad;
}
ul.off-canvas-list li label {
	background: #c3c3e5;
	border: none;
	color: #222;
}
ul.off-canvas-list li a {
	border: none;
	background: transparent;
	color: #8c489f;
}
ul.off-canvas-list li a:hover {
    background: #eeffee;
}
.right-off-canvas-menu, .left-off-canvas-menu {
	background: #f1f0ff;
}

.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
    background: transparent;
    color: #0b0080;
}

ul.side-nav label {
    font-variant: small-caps;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    display: block;
	background: #517398;
    color: #fff;
    padding: .25em .5em;
    pointer-events: none;
}
body {
    background-color: #B6CFE0;  /* #DCEAEA (KJC) */
}
li.name.logo {
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
}
@media only screen and (min-width: 642px) {
	.tab-bar-section.middle { left: .8125rem; text-align: left; }
}


/* TOC */
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
    text-align: center;
}
#toc ul, .toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 1em;
	margin-right: 1em;
    padding: 0;
    text-align: left;
}
#toctitle h2 {
    font-size: 16px;
    display: inline;
    font-weight: bold;
    font-family: sans-serif;
	border: none;
}
#toc, .toc, .mw-warning {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
}
#toc {
	display:inline-block;
}

span#menu-user {
    display: block;
    width: 100%;
    margin: 0 .9em;
    color: #fff;
}

span#nav-main {
    display: block;
    width: 100%;
    margin: 0 .9em;
    color: #fff;
}

#sidebar ul a {
    font-size: 14px;
}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4 {
    font-size: 1.5em;
    font-weight: 400;
}
section.right-small {
    border-left: none;
}
section.left-small {
    border-right: none;
}

h5.subtitle {
 font-size:.80em !important;
}
h4.namespace.label {
   padding:0.25em;
   font-size:1.25em !important;
   font-weight:normal;
   background-color: #2D3047; /* #2284A1 (KJC) */
}

.mw-content-ltr h2 {
    display: block;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.tab-bar .title {
    color: #FFFFFF;
    line-height: 2.8125rem;
    margin: 0;
    font-weight:400;
    font-size:1.5rem;
}

h1.title {
    font-size: 1.8rem;
    padding-bottom: 0em;
    margin-top: .5em;
    margin-bottom: 0.1rem;
}

section#middle-nav .title a {
    text-decoration: none;
}

@media only screen and (min-width: 40.0625em){
h1.title {
    font-size: 1.9rem;
}
}

h1, h2, h3, h4, h5, h6 { line-height: 1.4; }

h1 {
  font-size: 1.70em; }
 
h2 {
  font-size: 1.45em; }
 
h3 {
  font-size: 1.30em; }
 
h4 {
  font-size: 1.18em; }
 
h5 {
  font-size: 1.08em; }

@media only screen and (min-width: 40.0625em) {
h1 { font-size: 1.80em; }
h2 { font-size: 1.55em; }
h3 { font-size: 1.40em; }
h4 { font-size: 1.24em; }
h5 { font-size: 1.16em; }
}

/* Preferences Fixes */

#preftoc li a {
color: white;
padding: .25em .5em;
}
#preftoc li a:hover {
background: aqua;
color: white;
}
#preftoc li {
margin: 2px;
display:inline-block;
float: none;
padding: 1px;
position: relative;
list-style-type: none;
list-style-image: none;
z-index: 3;
border-radius: 3px;
font-size: .85em;
background: #142849;
border:0;
color: white;
}
 
#preftoc li a {
color: white;
}
 
#preftoc li a:hover {
background: #2ba6cb;
}
ul#preftoc {
margin: auto;
text-align: center;
}
#preftoc > li.selected {
background: #2C58A1;
box-shadow: 2px 2px 5px 2px rgba(50, 138, 64, 0.54);
}
#preftoc li.selected a {
cursor: default;
text-decoration: none;
}
#preferences table {
min-width: 100%;
}
#preftoc {
    margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
#preftoc a:active {
	display: block;
	color: #000;
	padding: 0 .7em;
	position: relative;
	text-decoration: none;
}
#preftoc li.selected a {
	cursor: default;
	text-decoration: none;
}
#preferences {
	margin: 0;
	clear: both;
	background-color: #FFF;
	border: none;
}
.prefsection {
	border: none;
	padding: 0;
	margin: 0;
}
.prefsection legend {
	font-weight: bold;
}
.prefsection table, .prefsection legend {
	background-color: #F9F9F9;
}
#preferences legend.mainLegend {
display: none;
} 
#preferences fieldset legend {
	font-weight: bold;
	padding: 0 .25em;
	margin: 0;
	margin: 0 .25em 0 1em;
	background:#FFF;
}
td.htmlform-tip {
	font-size: .8em;
	padding: .2em 2em;
	color: #666;
	border: 1px solid #eeeffe;
	background: #eeeffe;
}
.preferences-login {
	clear: both;
	margin-bottom: 1.5em;
}
.prefcache {
	font-size: 90%;
	margin-top: 1em;
}

/* Orbit Slider Overrides for MW */
.orbit-container .orbit-slides-container img {
    width: 100%;
}
.orbit-bullets {
    margin: 0 auto 30px auto !important;
}

/* Block-Grid UL fixes */
ul[class*="block-grid"] {
    margin: 0;
}

/* WikiEditor related fixes */

/* lable of toolbar */
.wikiEditor-ui-toolbar .label {
    background: transparent;
    color: #000;
}
/* selection boxes in toolbar adhere to font-size */
.wikiEditor-ui-toolbar .page-characters div span {
    height: 1.75em;
}
/* backound of controls adhere to #p-cactions */
.wikiEditor-ui-controls {
    background-color: #f6f6f6; 
}
/* background of buttions adhere to #p-cactions*/
.wikiEditor-ui-buttons {
    background-color: #f6f6f6;
}

/* Visual Editor Fixes */
.ve-activated #content {
    margin-top: 4em;
}
.ve-ce-documentNode {
    background:#fff;
}
.oo-ui-barToolGroup.oo-ui-widget-enabled > .oo-ui-toolGroup-tools > .oo-ui-tool > .oo-ui-tool-link,
.oo-ui-barToolGroup > .oo-ui-toolGroup-tools > .oo-ui-tool.oo-ui-widget-disabled > .oo-ui-tool-link  {
    display: inline !important;
}

.mw-indicators {
	float: right;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	line-height: 1.6;
	font-size: 0.875em;
	position: relative;
	margin: -1em .5em .5em 1em;
	max-height: 30px;
	width: auto;
	z-index: 1;
}
.mw-indicator {
	display: inline-block;
}

/* Images the MediaWiki way */

/* Images, Thumbs and Captions */
.thumbinner {
    border: 1px solid #c8ccd1;
    padding: 3px;
    background-color: #f8f9fa;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
}
.thumb.tright, .thumb.left {
    max-width: 100%;
}
.thumbcaption {
    border: 0;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
}
.magnify a {
    display: block;
    text-indent: 15px;
    white-space: nowrap;
    overflow: hidden;
    width: 15px;
    height: 11px;
}
.mw-content-ltr .magnify a {
    background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.png);
}

/* Float right and left styles - Make all MW images responsive for mobile when floated  */
 
.floatright, .tright,
table.floatright {
    margin: 0 0 .5em .5em;
    border: 0;
}
 
.floatleft,.tleft
table.floatleft {
    margin: 0 .5em .5em 0;
    border: 0;
}

.tnone {
    margin: .5rem 0;
    border: 0;
}

.floatnone img {
    margin: .5rem 0;
}

/* Kill the float for smaller screens and make them align center. */

@media only screen and (max-width: 640px) { 
    .floatright,
    table.floatright,
    .floatleft,
    table.floatleft,
    .thumb.tleft,
    .thumb.tright {
        text-align: center;
        float: none !important;
        margin: .5em auto;
    }
}
